/* Обычное начертание */
@font-face {
  font-family: "Rosatom";
  src: url("./fonts/Rosatom-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* Жирное */
@font-face {
  font-family: "Rosatom";
  src: url("./fonts/Rosatom-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Курсив */
@font-face {
  font-family: "Rosatom";
  src: url("./fonts/Rosatom-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Rosatom";
  src: url("./fonts/Rosatom-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
